/* productpge start */

.facility_image {
    position: relative;
    overflow: hidden;
    border: 3px groove var(--dark--);
    padding: 10px;
    border-radius: 35px 0px 35px 0px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
}

.facility_image img {
    transform: scale(1);
    border-radius: 35px 0px 35px 0px;
}

.facility_image img:hover {
    transform: scale(1.2);
}

.facility_image:hover {
    border: 3px solid transparent;
    /* border-bottom: 2px solid var(--dark--); */

}

.image-title {
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background: var(--dark--);
    color: white;
    padding: 10px;
    text-align: center;
    bottom: 0;
    border-radius: 20px 20px 0px 0px;
    transition: bottom 0.5s ease;
    font-size: 15px !important;
    letter-spacing: 0.8px;

}

/* productpge end */

/* producthover start*/


.main-image-container {
    object-fit: contain;
    overflow: hidden;
}

.sticky-column {
    position: sticky;
    top: 12%;
    max-height: 100vh;
    overflow-y: auto;
}

.kjh::first-letter {
    text-transform: uppercase;
    /* Capitalize only the first letter */
}


/* producthover end*/


/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playwrite+HR+Lijeva:wght@100..400&display=swap'); */
.modal_image {
    width: 300px;
}

.productHoverModal {
    z-index: 10000;
}

.backgroundgray {
    background: var(--lightgray--);
}

.productHoverModal .prodModel {
    transition: all 0.5s;
}

.productHoverModal .prodModel:hover {
    color: rgb(101, 101, 101);
}



.modal-body-scroll {
    max-height: 90vh;
    overflow-y: auto;
}

.main-image {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.main-image:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.thumbnail {
    height: 130px;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.thumbnail:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

@media only screen and (max-width: 1100px) {

    .modal-lg,
    .modal-xl {
        --bs-modal-width: 90% !important;
    }
}


.product_modal_image {
    height: 350px;
}

@media screen and (max-width: 480px) {
    .product_modal_image {
        height: 300px !important;
    }
}

/* For WebKit browsers (Chrome, Safari) */
#modal_scrollbar ::-webkit-scrollbar {
    width: 8px;
}
